{% extends "base.html" %}

{% block content %}
<h1>Lista zwierząt</h1>

{% for animal in animals %}
    <div class="attempt-box">
        <h3>{{ animal.name }}</h3>
        <p>Kategoria: {{ animal.category }}</p>
        <p>Masa: {{ animal.weight }}</p>
        <p>Rozmiar: {{ animal.size }}</p>
        <p>Habitat: {{ animal.habitats }}</p>

        <img
            src="{{ url_for('static', filename='images/' + animal.image_filename) }}"
            width="200"
        >

        {% if session.get("role") == "admin" %}
            <br><br>

            <a href="{{ url_for('main.edit_animal', animal_id=animal.id) }}">
                Edytuj
            </a>

            <a href="{{ url_for('main.delete_animal', animal_id=animal.id) }}">
                Usuń
            </a>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}