{% extends "base.html" %}

{% block content %}
<h1>Zgadnij zwierzę</h1>

<div class="attempt-grid">
    {% for attempt in attempts %}
        <div class="attempt-card">
            <h3>{{ attempt.name }}</h3>

            <div class="guess-row">
                <span>Kategoria:</span>
                <span>
                    {{ attempt.guessed_category }}
                    <span class="{{ attempt.category_class }}">
                        {{ attempt.category_status }}
                    </span>
                </span>
            </div>

            <div class="guess-row">
                <span>Habitat: </span>
                <span>
                    {{ attempt.guessed_habitats.replace(",", ", ") }}
                    <span class="{{ attempt.habitat_class }}">
                        {{ attempt.habitat_status }}
                    </span>
                </span>
            </div>

            <div class="guess-row">
                <span>Masa:</span>
                <span>
                    {{ attempt.guessed_weight }}
                    <span class="{{ attempt.weight_class }}">
                        {{ attempt.weight_status }}
                    </span>
                </span>
            </div>

            <div class="guess-row">
                <span>Rozmiar:</span>
                <span>
                    {{ attempt.guessed_size }}
                    <span class="{{ attempt.size_class }}">
                        {{ attempt.size_status }}
                    </span>
                </span>
            </div>
        </div>
    {% endfor %}
</div>

<form method="POST">
    <input type="text" name="guess" placeholder="Podaj nazwę">
    <button type="submit">Zgadnij</button>
</form>

{% if hint and hint.error %}
    <p class="error-message">{{ hint.error }}</p>
{% endif %}

{% endblock %}